@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300..700&family=Teko:wght@300..700&display=swap'); /* font-family Signika Negative */

.Card0 {
    text-align: center;
    background: linear-gradient(90deg, #555, transparent) #7C00FE;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    padding: 30px;
    margin-top: 30px;
    margin-bottom: 15px;
    border-radius: 10px;
    text-transform: uppercase;
    color: white;
    width: auto;
}

.Card0 .svg-inline--fa {
    color: white;
    vertical-align: 0em;
    padding-right: 0px;
}

.Card0 h5 {
    margin-top: 10px;
    font-family: "Signika Negative", sans-serif;
    font-weight: 700;
}

.Card0:hover {
    color: #FFD700;
    transition: transform .5s ease;
    transform: scale(1.06);
}